*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

:root{
    font-size: 20px;
}

/* CLASES UTILITARIAS*/

.btn{
    color: black;
    background-color: white;
    padding: 1rem;
    display: inline-block;
    margin-top: 1rem;
    font-family: 'Arvo', serif;
}

/* FIN CLASES UTILITARIAS*/

/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

.header__logo{
    max-width: 110px;
}

.header__item{
    display: inline-block;
    padding: 1rem 0.5rem;
    margin: 1rem;
    font-family: 'Antenna', sans-serif;
    color: white;
}

/* HEADER FIN */

/* HERO */

.hero {
    background-image: url(../../img/ruta16home.jpg);
    background-position: center;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}


.hero__titulo{
    color: rgb(237, 242, 244);
    font-size: 4rem;
    font-family: 'Arvo', serif;
}

.hero__slogan{
    color: rgb(237, 242, 244);
    font-size: 1.5rem;
    font-family: 'Antenna', sans-serif;
}

/* HERO FIN */

/* INICIO MODELOS */

.modelos__titulo{
    font-family: 'Arvo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.mod{
    color: black;
    width: 33%;
    overflow: hidden;
    display: inline-block;
    padding: 1rem;
}

.mod__img{
    width: 100%;
}

.mod__titulo{
    font-family: 'Arvo', serif;
}

.mod__desc{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
}

/* FIN MODELOS */

/* INICIO FOOTER */

.footer{
    padding: 1rem;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__logo{
    height: 80px;
    margin-bottom: 0.5rem;
}

.footer__h5{
    font-family: 'Antenna', sans-serif;
    color: white;
}

.footer__redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer__anchor{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../../img/igblanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.footer__anchor:hover{
    background-color: black;
    
}

.footer__span{
    color: white;
    font-family: 'Antenna', sans-serif;
}

/* FIN FOOTER */

.form{
    font-family: "Antenna", sans-serif;
    margin: 3rem;
}

@media screen and (max-width: 768px){

}