.autos {
    font-family: "Antenna", sans-serif;
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    /*height: 100vh;*/
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../../img/audilogo.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 200px;
    &__div {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 4rem;
    }
    &__hr{
        height: 1rem;
        background-color: rgb(239, 35, 60)
    }

    &__btn {
        display: flex;
        justify-content: center;
        color: rgb(22, 22, 22);
        padding: 1rem;
        transition: 1s;
    }
    &__btn:hover{
        color: rgb(239, 35, 60);
        font-size: 1.5rem;
    }
}