.sec__title{
    font-family: "Arvo", serif;
    font-size: 4rem;
    color: rgb(43, 45, 66);
    text-align: start;
    margin-left: 3rem;
}
.historia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__div{
        display: flex;
    }
    &__desc{
        font-family: "Antenna", sans-serif;
        text-align: center;
        color: black;
    }
}